.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .input-fields {
    display: flex;
    gap: 10px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .columns {
    display: flex;
    gap: 20px;
  }
  
  .destinations, .flights, .hotels {
    flex: 1;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  span {
    margin-left: 10px;
  }
  
  .plannerBtn{
    padding: 25px 14px;
    border: none;
    background-color: #5DC0DF;
    /* color: white; */
    border-radius: 50px;
    cursor: pointer;

    /* .planner-icon{
        padding: 12px 14px;
        border: none;
        background-color: #5DC0DF;
        color: black;
        border-radius: 50px;
        cursor: pointer;
    } */

  }