*{
    font-family: "Raleway", sans-serif;
}

.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #5DC0DF, white);
  }
  
  .sign-in-form {
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #5DC0DF;
    /* color: whitesmoke; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    .navLink{
        color: whitesmoke;
    }

  }

  p{
    color: black;
    font-size: 0.8rem;
    font-weight: 550;
    font-family: "Roboto", sans-serif;

    a{
        color: #37bfe9;
        text-decoration: underline;
        font-weight: bold;

        &:hover{
            /* background-color: #37bfe9; */
            /* color: whitesmoke; */
            font-weight: bolder;
        }
    }
  }

  @media screen and (max-width: 768px){
    .sign-in-form {
        width: 50%;
    } 
  }